@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.submenu-container {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 30px; /* Increased space between navbar and submenu */
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}

.submenu-nested {
  position: absolute;
  top: -10px;
  left: 102%;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust width if necessary */
}


nav{
  padding-left: 0px !important;
}

