/* Slider.css */  
.image-slider {  
  position: relative;  
}  

.slider-container {  
  display: flex;  
  overflow: hidden;  
}  

.slide {  
  min-width: 100%;  
}  

.slider-buttons {  
  position: absolute;  
  top: 50%;  
  width: 100%;  
  display: flex;  
  justify-content: space-between;  
  transform: translateY(-50%);  
  z-index: 1;  
  background: rgba(255, 255, 255, 0.5); /* Optional for better visibility */  
}